body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Apercu', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
}

.editor-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* {
  outline: 0;
  -webkit-tap-highlight-color: #4ada99;
}

*, :after, :before {
  box-sizing: border-box;
}

.public-DraftEditor-content {
  min-height: 100vh;
  padding: 40px 20px 50vh;
  height: inherit;
  text-align: initial;
}

.DraftEditor-root {
  position: relative;
  text-align: initial;
  max-width: calc(80ch + 40px);
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a span {
  -webkit-text-fill-color: #4ada99 !important;
  color: #4ada99 !important;
}

.sidebar-icon-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 1;
}

.customize-button {
  opacity: .3;
}

.customize-button:hover {
  opacity: 1;
}

.close-icon:before {
  content: url('./assets/icons/close.svg');
}

.dark-theme.editor-wrapper ::selection {
  background: rgba(51,204,51,.4);
}

.light-theme.editor-wrapper ::selection {
  background: rgba(51,204,51,.15);
}

.sidebar-close {
  position: fixed;
  z-index: 3;
  top: 2.5rem;
  right: 2rem;
  opacity: .5;
}

.sidebar-close:hover {
  opacity: 1;
}

.sidebar-content {
    position: relative;
    text-align: initial;
    max-width: calc(80ch + 100px);
    height: 100%;
    margin: auto;
    padding: 0;
}

.sidebar-title {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 2rem;
}

.pl-25 {
  padding-left: 25rem;
}

.font-family__apercu {
  font-family: 'Apercu';
}

.ff-maison-mono .DraftEditor-root span, .font-family__maison-mono {
  font-family: 'Maison Mono';
}

.ff-roboto-mono .DraftEditor-root span, .font-family__roboto-mono {
  font-family: 'Roboto Mono';
}

.ff-roboto .DraftEditor-root span, .font-family__roboto  {
  font-family: 'Roboto';
}

.ff-interui .DraftEditor-root span, .font-family__interui  {
  font-family: 'Inter UI';
}

.font-size__small {
  font-size: 13px;
}

.font-size__regular {
  font-size: 16px;
}

.font-size__large {
  font-size: 20px
}

.sidebar-form__title {
    display: block;
    margin-bottom: .5rem;
}

.sidebar-form__boxed-radios:not(:last-child) {
  margin-bottom: 2rem;
}

.sidebar-form__boxed-radios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sidebar-form__boxed-radios__box {
  position: relative;
  text-align: center;
  padding-right: .75rem;
}

.sidebar-form__boxed-radios__box label img {
    display: block;
    margin: 0 auto .5rem;
    justify-content: center;
    height: 1.25em;
    width: 1.25em;
}

.sidebar-form__boxed-radios__font-size .sidebar-form__boxed-radios__box {
  width: 33.3%;
}

.sidebar-form__boxed-radios__font-family .sidebar-form__boxed-radios__box {
  width: 50%;
  margin-bottom: .5rem;
}

.sidebar-form__boxed-radios__theme .sidebar-form__boxed-radios__box {
  width: 50%;
  margin-bottom: .5rem;
}

.sidebar-form__boxed-radios__alignment .sidebar-form__boxed-radios__box {
  width: 50%;
  margin-bottom: .5rem;
}

.sidebar-form__boxed-radios__font-family .sidebar-form__boxed-radios__box:nth-child(2),
.sidebar-form__boxed-radios__theme .sidebar-form__boxed-radios__box:nth-child(2),
.sidebar-form__boxed-radios__alignment .sidebar-form__boxed-radios__box:nth-child(2) {
  padding-right: 0;
}

.sidebar-form__boxed-radios__box:last-child {
  padding-right: 0;
}

.sidebar-form__boxed-radios__box input[type=radio]:checked+label {
  border: 1px solid #1c1c1c;
}

.sidebar-form__boxed-radios__box label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  background-color: #fff;
  border: 1px solid #fff;
  padding: .75rem;
  cursor: pointer;
  margin-bottom: .25rem;
  font-size: .85em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar-form__boxed-radios__box input[type=radio] {
  position: absolute;
  left: -9999px;
}

.sidebar-section:not(:last-child) {
  border-bottom: 1px solid hsla(0,0%,7%,.1);
}

.font-size_small .DraftEditor-root span {
  font-size: 13px;
}

/* Theme */

.light-theme {
  background: #fff
}

.light-theme span {
  color: #111;
  -webkit-text-fill-color: #111;
}

.dark-theme {
  background: #1d1f21;
}

.dark-theme span {
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.slack-theme {
  background: #4e2f4c
}

.slack-theme span {
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.karmacoma-theme {
  background: #513984;
}

.karmacoma-theme span {
  color: #95C4C2;
  -webkit-text-fill-color: #95C4C2;
}

.dark-theme a.customize-button svg, .slack-theme a.customize-button svg, .karmacoma-theme a.customize-button svg {
  stroke: #fff
}

/* To fix double overlay emoji bug */
.draftJsEmojiPlugin__emoji__2oqBk span {
  color: transparent !important;
  -webkit-text-fill-color: transparent !important;
}

/* Alignment */

.align_left .DraftEditor-root div {
  text-align: left;
}

.align_center .DraftEditor-root div {
  text-align: center;
}

.align_justify .DraftEditor-root div {
  text-align: justify;
}

.align_right .DraftEditor-root div {
  text-align: right;
}

.font-size_small .DraftEditor-root h1 span {
  font-size: 24px;
}

.font-size_small .DraftEditor-root h2 span {
  font-size: 21px;
}

.font-size_small .DraftEditor-root h3 span {
  font-size: 18px;
}

.font-size_small .DraftEditor-root h4 span {
  font-size: 15px;
}

.font-size_regular .DraftEditor-root span {
  font-size: 16px;
}

.font-size_regular .DraftEditor-root h1 span {
  font-size: 28px;
}

.font-size_regular .DraftEditor-root h2 span {
  font-size: 25px;
}

.font-size_regular .DraftEditor-root h3 span {
  font-size: 22px;
}

.font-size_regular .DraftEditor-root h4 span {
  font-size: 19px;
}

.font-size_large .DraftEditor-root span {
  font-size: 20px;
}

.font-size_large .DraftEditor-root h1 span {
  font-size: 32px;
}

.font-size_large .DraftEditor-root h2 span {
  font-size: 29px;
}

.font-size_large .DraftEditor-root h3 span {
  font-size: 26px;
}

.font-size_large .DraftEditor-root h4 span {
  font-size: 23px;
}

.editor__sidebar {
  padding: 2rem;
  height: 100%;
}

.editor-stats {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: .2;
  font-size: 12px;
  padding: 20px
}

.word-count {
  margin-bottom: .25rem;
}

.character-count, .word-count {
  display: block;
}